body, html { 
    height: 100%;
    width: 100%;
    font-family: 'Inconsolata', serif;
    font-size: 48px;
    color:aliceblue;
    text-align: center;
    background: url(assets/city.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn {
    border-radius: 100px;
    color: aliceblue;
    text-transform: uppercase;
}

.btn:hover {
    background-color: darkgoldenrod;
    color: aliceblue;
    font-weight: 1000;
}

hr {
    font-style: italic;
    font-size: medium;
}